@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
       url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Gotham";
  font-weight: 325;
  src: url("../fonts/GothamBook.woff2") format("woff2"),
       url("../fonts/GothamBook.woff") format("woff");
}
@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../fonts/GothamMedium.woff2") format("woff2"),
       url("../fonts/GothamMedium.woff") format("woff");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../fonts/GothamBold.woff2") format("woff2"),
       url("../fonts/GothamBold.woff") format("woff");
}
