html {
  @media (max-width: $breakpoint480) {
    font-size: 0.875rem;
  }
}
// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
    padding: 0 15px;
  }
}

// Body & Locked
body {
  font-family: $fontMain;
  font-weight: 325;
  line-height: 1.2;
  color: $primary;
  &.locked {
    overflow: hidden;
  }
  // Dark mode styles
  &.dark {
    background: #242424;
  }
}

.button {
  width: 206px;
  height: 48px;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  align-items: center;
  background: linear-gradient(95.85deg, #1e74ec -47.62%, #245b91 146.78%);
  font-weight: 500;
  color: #f0f0f1;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #f0f0f1;
    color: #1e74ec;
    border: 2px solid #1e74ec;
  }
  @media (max-width: $breakpoint480) {
    width: 100%;
    border-radius: 8px;
  }
}

.button-transparent,
%button-transparent {
  width: 206px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #1e74ec;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1e74ec;
  &:hover {
    background: #f0f0f1;
    color: $secondary;
  }
}

.suptitle {
  font-size: 1.375rem;
  color: #303c7a;
  margin-bottom: 0.3em;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//mixins
@mixin adaptive-value(
  $property,
  $startSize,
  $ultimSize,
  $breakpoint,
  $container: $containerWidth,
  $type: "shrink"
) {
  $changeSize: abs($startSize - $ultimSize);
  @if $type == "shrink" {
    #{$property}: #{$startSize}px;
    @media (max-width: #{$container}px) {
      #{$property}: calc(
        #{$ultimSize}px + #{$changeSize} * ((100vw - #{$breakpoint}px) /
              (#{$container} - #{$breakpoint}))
      );
    }
  } @else if $type == "rise" {
    #{$property}: calc(
      #{$startSize}px -
        #{$changeSize} *
        ((100vw - #{$breakpoint}px) / (#{$container} - #{$breakpoint}))
    );
  }
}

.title {
  font-weight: 700;
  color: #03115f;
  @include adaptive-value("font-size", 62, 26, 320);
  margin-bottom: 0.4em;
}

.section {
  &__services,
  &__team,
  &__cooperation {
    @include adaptive-value("padding-top", 180, 40, 320);
    @include adaptive-value("padding-bottom", 180, 40, 320);
  }

  &__about {
    @include adaptive-value("padding-top", 180, 40, 992);
    @include adaptive-value("padding-bottom", 90, 20, 320);
    @media (max-width: $breakpoint992) {
      padding-top: 0;
    }
  }

  &__projects,
  &__contacts {
    @include adaptive-value("padding-bottom", 90, 20, 320);
  }

  &__development,
  &__clients,
  &__faq {
    @include adaptive-value("padding-top", 90, 20, 320);
    @include adaptive-value("padding-bottom", 180, 40, 320);
  }

  &__benefits {
    @include adaptive-value("padding-top", 90, 20, 320);
    @include adaptive-value("padding-bottom", 90, 20, 320);
  }

  &__portfolio-top {
    background-image: url("../img/portfolio-page/team-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__portfolio {
    @include adaptive-value("padding-top", 180, 40, 320);
    @include adaptive-value("padding-bottom", 90, 20, 320);
  }

  &__portfolio-contacts {
    background-image: url("../img/portfolio-page/contacts-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include adaptive-value("padding-top", 243, 81, 320);
    @include adaptive-value("padding-bottom", 243, 64, 320);
  }

  &__team-top {
    background-image: url("../img/team-page/team-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__recruit {
    background-image: url("../img/team-page/team-contacts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include adaptive-value("padding-top", 348, 80, 320);
    @include adaptive-value("padding-bottom", 252, 64, 320);
  }

  &__projectform-top {
    background-image: url("../img/project-form/projectform-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__contact-top {
    background-image: url("../img/contacts-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__projects-top {
    background-image: url("../img/contacts-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__contacts-page {
    padding-bottom: 99px;
    @media (max-width: $breakpoint480) {
      padding-bottom: 0;
    }
    .container {
      @media (max-width: $breakpoint480) {
        padding: 0;
      }
    }
  }

  &__spectrum {
    background: #E6E8EF;
    @include adaptive-value("padding-top", 110, 80, 320);
    @include adaptive-value("padding-bottom", 110, 80, 320);
  }
}
