.title {
  font-weight: 700;
  color: #03115f;
  @include adaptive-value("font-size", 62, 36, 320);
}

.services {
  &__suptitle {
    font-size: 1.625rem;
    margin-bottom: 0.3em;
    color: #303c7a;
  }

  &__title {
    letter-spacing: 0.02em;
    margin-bottom: 1em;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    // grid-template-rows: repeat(3, minmax(280px, 1fr));
    @include adaptive-value("gap", 40, 10, 320);
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $breakpoint480) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
      .services__item-text {
        color: #f0f0f1;
        top: 62px;
        left: 62px;
      }
      @media (max-width: $breakpoint768) {
        grid-row: span 1;
        grid-column: span 1;
        .services__item-text {
          top: 24px;
          left: 20px;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  &__item-text {
    position: absolute;
    font-weight: 700;
    @include adaptive-value("font-size", 36, 14, 320);
    color: #5e6695;
    top: 24px;
    left: 20px;
    padding-right: 5px;
  }
}

//projects

.projects {
  &__top {
    @include adaptive-value("padding-top", 120, 40, 320);
    background: rgba(3, 17, 95, 0.1);
    padding-bottom: 258px;
  }

  &__suptitle {
    font-size: 1.625rem;
    line-height: 32px;
    margin-bottom: 0.3em;
    color: #303c7a;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    color: #a960ab;
  }

  &__text {
    color: $secondary;
    font-size: 1.25rem;
    max-width: 906px;
    @media (max-width: $breakpoint768) {
      font-size: 1rem;
    }
  }

  &__items {
    margin-top: -215px;
  }

  &__items-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptive-value("gap", 40, 20, 320);
    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &:nth-child(5),
    &:nth-child(6) {
      grid-column: span 2;
    }
    @media (max-width: $breakpoint480) {
      grid-column: span 2;
    }
  }

  &__img-wrapper {
    margin-bottom: 4px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-name {
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 4px;
    color: $secondary;
  }

  &__item-text {
    font-size: 1.125rem;
    color: #656773;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 24px;
    @include adaptive-value("margin-top", 64, 40, 320);
    @media (max-width: $breakpoint480) {
      flex-wrap: wrap;
      gap: 16px;
    }
  }
  &__links-item {
    width: 100%;
  }

  &__links-portfolio {
    @media (max-width: $breakpoint480) {
      order: 1;
      border-color: transparent;
    }
  }
}

//about

.about {
  &__suptitle {
    font-size: 1.375rem;
    color: #303c7a;
    margin-bottom: 1.35em;
    &--inside {
      display: none;
    }
    @media (max-width: $breakpoint992) {
      margin-top: 24px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("gap", 40, 20, 320);
    @media (max-width: $breakpoint992) {
      flex-wrap: wrap;
    }
  }

  &__img-wrapper {
    max-width: 947px;
    width: 100%;
    background-image: url("../img/about/about-main.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: $breakpoint992) {
      display: none;
      max-width: 100%;
      height: 252px;
    }
    &--outside {
      display: none;
      @media (max-width: $breakpoint992) {
        display: block;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 455px;
    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  &__title {
    @include adaptive-value("font-size", 54, 28, 320);
    margin-bottom: 15px;
  }

  &__text {
    font-size: 1.125rem;
    color: #040a2d;
    margin-bottom: 5rem;
    @media (max-width: $breakpoint992) {
      font-size: 1rem;
      margin-bottom: 1.5em;
    }
  }

  &__links {
    display: flex;
    gap: 25px;
    @media (max-width: $breakpoint480) {
      justify-content: flex-end;
    }
  }

  &__link-position {
    @media (max-width: $breakpoint480) {
      display: none;
    }
  }

  &__link-more {
    @media (max-width: $breakpoint480) {
      font-size: 14px;
      color: #1e74ec;
      background: transparent;
      width: auto;
      height: auto;
      padding: 8px 16px;
    }
  }
}

.contacts {
  font-size: 0.875rem;
  &__top {
    @include adaptive-value("padding-top", 110, 40, 320);
    background-image: url("../img/contacts-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 267px;
  }

  &__suptitle {
    color: #cfd0d8;
    font-size: 1.625rem;
    color: #cfd0d8;
  }

  &__title {
    color: #f0f0f1;
    max-width: 705px;
    span {
      color: #1e74ec;
    }
  }

  &__content {
    margin-top: -227px;
  }

  &__content-inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: #f0f0f1;
    @include adaptive-value("padding", 110, 30, 320);
    @media (max-width: $breakpoint992) {
      flex-wrap: wrap;
    }
  }

  &__info {
    max-width: 578px;
    width: 100%;
    background: linear-gradient(159.18deg, #5f249f 13.77%, #320a5e 83.86%);
    @include adaptive-value("padding-top", 58, 20, 320);
    @include adaptive-value("padding-bottom", 58, 20, 320);
    @include adaptive-value("padding-right", 40, 20, 320);
    @include adaptive-value("padding-left", 40, 20, 320);
    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  &__info-top {
    @include adaptive-value("padding-bottom", 40, 20, 320);
    @include adaptive-value("margin-bottom", 24, 10, 320);
    border-bottom: 2px solid #c1c2c7;
  }

  &__info-title {
    font-size: 1.625em;
    margin-bottom: 0.5em;
  }

  &__info-team {
    @include adaptive-value("padding-bottom", 26, 10, 320);
    border-bottom: 2px solid #c1c2c7;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 1240px) {
      flex-wrap: wrap;
    }
    @media (max-width: $breakpoint992) {
      justify-content: flex-start;
    }
  }

  &__team-name {
    text-transform: uppercase;
    @include adaptive-value("margin-bottom", 15, 5, 320);
  }

  &__team-mail {
    color: #f0f0f1;
    margin-bottom: 4px;
    display: block;
  }

  &__team-tel {
    color: #f0f0f1;
    display: block;
  }

  &__links {
    @include adaptive-value("padding-top", 40, 15, 320);
    display: flex;
    gap: 40px;
    @media (max-width: $breakpoint480) {
      gap: 0;
      justify-content: space-between;
    }
  }

  &__links-item {
    @media (max-width: $breakpoint768) {
      width: 20px;
      height: 20px;
    }
  }

  &__links-img {
    width: 100%;
    height: 100%;
  }

  &__form {
    max-width: 465px;
    width: 100%;
    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  &__form-title {
    @include adaptive-value("font-size", 36, 18, 320);
    margin-bottom: 0.7em;
    color: #03115f;
  }

  &__form-subtitle {
    font-size: 1.125em;
    margin-bottom: 0.8em;
    color: #040a2d;
  }

  &__form-input {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #fff;
    padding: 16px 14px;
    margin-bottom: 15px;
    &::placeholder {
      font-family: $fontMain;
      color: #84858f;
      font-size: 1rem;
    }
  }

  &__form-textarea {
    display: block;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    padding: 16px 14px;
    resize: none;
    min-height: 96px;
    @include adaptive-value("margin-bottom", 34, 10, 320);
    &::placeholder {
      font-family: $fontMain;
      color: #84858f;
      font-size: 1rem;
    }
  }

  &__form-bottom {
    display: flex;
    gap: 10px;
    @media (max-width: $breakpoint480) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__btn {
    flex-shrink: 3;
    @media (max-width: $breakpoint480) {
      width: 100%;
    }
  }

  &__smalltext {
    font-size: 10px;
    line-height: 2;
    color: #84858f;
    a {
      text-decoration-line: underline;
      color: #a960ab;
    }
  }
}

.development {
  &__title {
  }

  &__text {
    max-width: 750px;
    @include adaptive-value("margin-bottom", 64, 40, 320);
  }

  &__items {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 64px;
    row-gap: 40px;
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    }
    @media (max-width: $breakpoint480) {
      gap: 80px;
    }
  }

  &__item {
    max-width: 452px;
    width: 100%;
    @media (max-width: $breakpoint480) {
      text-align: center;
    }
  }

  &__img {
    margin-bottom: 15px;
  }

  &__item-name {
    @include adaptive-value("font-size", 26, 20, 320);
    margin-bottom: 10px;
    span {
      color: #002984;
      background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  &__item-text {
    @include adaptive-value("font-size", 18, 12, 320);
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #a960ab;
    position: relative;
    padding-right: 64px;
    @include adaptive-value("margin-top", 64, 40, 320);
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 40px;
      background-image: url("../img/icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
    }
    @media (max-width: $breakpoint480) {
      width: 168px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: #1e74ec;
      transition: all 0.3s ease-in-out;
      border: 2px solid #1e74ec;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      &:hover {
        background: #f0f0f1;
        color: $secondary;
      }
      &::after {
        display: none;
      }
    }
  }
}
