.title {
  font-weight: 700;
  color: #03115f;
  @include adaptive-value("font-size", 62, 36, 320);
}

.header-wrapper {
  background-image: url("../img/header/header-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header-content {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__inner {
    max-width: 500px;
    width: 100%;
    margin-right: auto;
    // margin-bottom: 16.6vh;
    @include adaptive-value("margin-bottom", 180, 20, 320);
  }

  &__suptitle {
    font-size: 1.625rem;
    color: #c1c2c7;
    margin-bottom: 0.3em;
  }

  &__title {
    font-size: 3.875rem;
    margin-bottom: 0.16em;
    @include adaptive-value("font-size", 68, 32, 320);
    color: #eeeff1;
  }

  &__subtitle {
    color: #dddde2;
    font-family: $fontSecondary;
    font-size: 1.25rem;
    margin-bottom: 5.5vh;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
    }
  }

  &__item {
    color: #eeeff1;
    text-align: center;
    font-weight: 700;
    // font-size: 4.25rem;
    @include adaptive-value("font-size", 68, 32, 320);
    // @media (max-width: $breakpoint992){
    //   font-size: 3rem;
    // }
    span {
      display: block;
      font-weight: 325;
      font-size: 0.38em;
    }
    @media (max-width: $breakpoint768) {
      flex: 0 1 45%;
    }
  }
}

.services {
  &__suptitle {
    font-size: 1.625rem;
    margin-bottom: 0.3em;
    color: #303c7a;
  }

  &__title {
    letter-spacing: 0.02em;
    margin-bottom: 1em;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    // grid-template-rows: repeat(3, minmax(280px, 1fr));
    @include adaptive-value("gap", 40, 10, 320);
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $breakpoint480) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
      .services__item-text {
        color: #f0f0f1;
        top: 62px;
        left: 62px;
      }
      @media (max-width: $breakpoint768) {
        grid-row: span 1;
        grid-column: span 1;
        .services__item-text {
          top: 24px;
          left: 20px;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
  }

  &__item-text {
    position: absolute;
    font-weight: 700;
    @include adaptive-value("font-size", 36, 14, 320);
    color: #5e6695;
    top: 24px;
    left: 20px;
    padding-right: 5px;
  }
}

//projects

.projects {
  &__top {
    @include adaptive-value("padding-top", 120, 40, 320);
    background: rgba(3, 17, 95, 0.1);
    padding-bottom: 258px;
  }

  &__suptitle {
    font-size: 1.625rem;
    line-height: 32px;
    margin-bottom: 0.3em;
    color: #303c7a;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    color: #a960ab;
  }

  &__text {
    color: $secondary;
    font-size: 1.25rem;
    max-width: 906px;
    @media (max-width: $breakpoint768) {
      font-size: 1rem;
    }
  }

  &__items {
    margin-top: -215px;
  }

  &__items-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptive-value("gap", 40, 20, 320);
    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &:nth-child(5),
    &:nth-child(6) {
      grid-column: span 2;
      @media (max-width: $breakpoint480) {
        display: none;
      }
    }
    @media (max-width: $breakpoint480) {
      grid-column: span 2;
    }
  }

  &__img-wrapper {
    margin-bottom: 4px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-name {
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 4px;
    color: $secondary;
  }

  &__item-text {
    font-size: 1.125rem;
    color: #656773;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 24px;
    @include adaptive-value("margin-top", 64, 40, 320);
    @media (max-width: $breakpoint480) {
      flex-wrap: wrap;
      gap: 16px;
    }
  }
  &__links-item {
    width: 100%;
  }

  &__links-portfolio {
    @media (max-width: $breakpoint480) {
      order: 1;
      border-color: transparent;
    }
  }
}

//about

.about {
  &__suptitle {
    font-size: 1.375rem;
    color: #303c7a;
    margin-bottom: 1.35em;
    &--inside {
      display: none;
    }
    @media (max-width: $breakpoint992) {
      margin-top: 24px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include adaptive-value("gap", 40, 20, 320);
    @media (max-width: $breakpoint992) {
      flex-wrap: wrap;
    }
  }

  &__img-wrapper {
    max-width: 947px;
    width: 100%;
    background-image: url("../img/about/about-main.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: $breakpoint992) {
      display: none;
      max-width: 100%;
      height: 252px;
    }
    &--outside {
      display: none;
      @media (max-width: $breakpoint992) {
        display: block;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 455px;
    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }
  }

  &__title {
    @include adaptive-value("font-size", 54, 28, 320);
    margin-bottom: 15px;
  }

  &__text {
    font-size: 1.125rem;
    color: #040a2d;
    margin-bottom: 5rem;
    @media (max-width: $breakpoint992) {
      font-size: 1rem;
      margin-bottom: 1.5em;
    }
  }

  &__links {
    display: flex;
    gap: 25px;
    @media (max-width: $breakpoint480) {
      justify-content: flex-end;
    }
  }

  &__link-position {
    @media (max-width: $breakpoint480) {
      display: none;
    }
  }

  &__link-more {
    @media (max-width: $breakpoint480) {
      font-size: 14px;
      color: #1e74ec;
      background: transparent;
      width: auto;
      height: auto;
      padding: 8px 16px;
    }
  }
}



.development {
  &__title {
  }

  &__text {
    max-width: 750px;
    @include adaptive-value("margin-bottom", 64, 40, 320);
  }

  &__items {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 64px;
    row-gap: 40px;
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    }
    @media (max-width: $breakpoint480) {
      gap: 80px;
    }
  }

  &__item {
    max-width: 452px;
    width: 100%;
    @media (max-width: $breakpoint480) {
      text-align: center;
    }
  }

  &__img {
    margin-bottom: 15px;
  }

  &__item-name {
    @include adaptive-value("font-size", 26, 20, 320);
    margin-bottom: 10px;
    span {
      color: #002984;
      background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  &__item-text {
    @include adaptive-value("font-size", 18, 12, 320);
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #a960ab;
    position: relative;
    padding-right: 64px;
    @include adaptive-value("margin-top", 64, 40, 320);
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 40px;
      background-image: url("../img/icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
    }
    @media (max-width: $breakpoint480) {
      width: 168px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: #1e74ec;
      transition: all 0.3s ease-in-out;
      border: 2px solid #1e74ec;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      &:hover {
        background: #f0f0f1;
        color: $secondary;
      }
      &::after {
        display: none;
      }
    }
  }
}

.benefits {
  &__title {
  }

  &__text {
    max-width: 750px;
    @include adaptive-value("margin-bottom", 64, 40, 320);
  }

  &__items {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 40px;
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    @media (max-width: $breakpoint480) {
      gap: 64px;
    }
  }

  &__img {
    margin-bottom: 15px;
  }

  &__item-name {
    @include adaptive-value("font-size", 22, 18, 320);
    margin-bottom: 10px;
    span {
      color: #002984;
      background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  &__item-text {
    @include adaptive-value("font-size", 18, 12, 320);
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #a960ab;
    position: relative;
    padding-right: 64px;
    @include adaptive-value("margin-top", 64, 40, 320);
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 40px;
      background-image: url("../img/icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
    }
    @media (max-width: $breakpoint480) {
      width: 168px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: #1e74ec;
      transition: all 0.3s ease-in-out;
      border: 2px solid #1e74ec;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      &:hover {
        background: #f0f0f1;
        color: $secondary;
      }
      &::after {
        display: none;
      }
    }
  }
}



.faq {
  max-width: 1200px;
  margin: 0 auto;
  &__title {
    max-width: 900px;
  }

  .accordion {
    .accordion__item {
      border-bottom: 2px solid #dddde2;
      padding: 25px 0 35px;
      @media (max-width: $breakpoint480) {
        padding: 16px 0 12px;
      }

      // Trigger styles
      .accordion__item-trigger {
        display: flex;
        align-items: center;
        cursor: pointer;

        .trigger__text {
          @include adaptive-value("font-size", 26, 18, 320);
          padding-right: 37px;
          color: #535670;
        }

        .trigger__img {
          position: relative;
          margin-left: auto;
          margin-right: 9px;
          transition: all 0.3s ease;
        }
      }
      // Active state styles
      &.accordion__item-active {
        .accordion__item-content {
          display: block;
        }

        .trigger__img {
          transform: rotate(45deg);
        }
      }

      // Content styles
      .accordion__item-content {
        display: none;
        animation: fade 0.3s ease;
        margin-top: 10px;
        margin-right: 9px;
        .content__text {
          max-width: 946px;
          @include adaptive-value("font-size", 18, 12, 320);
          @include adaptive-value("margin-left", 124, 25, 320);
          color: #75788d;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
