.cooperation {
  &__container {
    padding: 0 56px;
    @media (max-width: 768px) {
      padding: 0 $containerSidePadding + px;
    }
    @media (max-width: $breakpoint480) {
      padding: 0 15px;
    }
  }

  &__swiper-wrapper {
    position: relative;
  }

  &__swiper {
    position: relative;
    padding-bottom: 40px;
    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }
  &__items {
    // display: flex;
    // align-items: stretch;
  }

  &__item {
    max-width: 454px;
    width: 100%;
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__item-inner {
    padding: 24px 35px;
    @media (max-width: 768px) {
      padding: 24px 16px;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 10px;
  }

  &__text {
  }

  &__btn-next,
  &__btn-prev {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__btn-prev {
    left: -46px;
  }
  &__btn-next {
    right: -46px;
  }
  .swiper-pagination {
    bottom: 0px;
  }
}

.spectrum {
  &__suptitle,
  &__title {
    @media (max-width: $breakpoint480) {
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }
    @media (max-width: $breakpoint480) {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
  }

  &__item {
    text-align: center;
  }

  &__img {
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.steps {
  &__items {
    list-style: none;
    counter-reset: steps-counter;
  }

  &__item {
    position: relative;
    padding-left: 250px;
    &:not(:last-child) {
      @include adaptive-value("margin-bottom", 110, 40, 320);
    }
    @media (max-width: $breakpoint992) {
      padding-left: 170px;
    }
    @media (max-width: $breakpoint768) {
      padding-left: 110px;
    }
    @media (max-width: $breakpoint480) {
      padding-left: 0;
    }
    &::before {
      counter-increment: steps-counter;
      content: counter(steps-counter);
      width: 207px;
      font-weight: 700;
      font-size: 200px;
      line-height: 1;
      vertical-align: top;
      text-align: center;
      color: #dddde2;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: $breakpoint992) {
        font-size: 140px;
        width: 140px;
      }
      @media (max-width: $breakpoint768) {
        font-size: 100px;
        width: 100px;
      }
      @media (max-width: $breakpoint480) {
        display: none;
      }
    }
  }

  &__item-name {
    font-weight: 700;
    @include adaptive-value("font-size", 54, 18, 320);
    background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @include adaptive-value("margin-bottom", 15, 8, 320);
  }

  &__subtitle,
  &__text {
    @include adaptive-value("font-size", 26, 14, 320);
  }

  &__subtitle {
    font-size: 26px;
    @include adaptive-value("margin-bottom", 40, 24, 320);
  }

  &__text {
    font-size: 26px;
    color: #75788d;
    @include adaptive-value("margin-bottom", 34, 16, 320);
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 24px;
    @media (max-width: $breakpoint992) {
      gap: 24px;
    }
  }

  &__image {
    border-radius: 16px;
    overflow: hidden;
    @media (max-width: $breakpoint992) {
      width: 64px;
      height: 64px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    @media (max-width: $breakpoint480) {
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }
  }

  &__smalltext {
    color: #75788d;
    max-width: 242px;
    margin-bottom: 15px;
    @media (max-width: $breakpoint480) {
      margin-bottom: 0;
      max-width: 186px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    color: #a960ab;
    padding-right: 64px;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 40px;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url("../img/icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s;
    }
    &:hover {
      &::after {
        transform: scale(1.2);
      }
    }

    @media (max-width: $breakpoint480) {
      padding: 8px 16px;
      color: #1e74ec;
      letter-spacing: 0.02em;
      font-weight: 500;
      flex-shrink: 0;
      &::after {
        display: none;
      }
      &:hover {
        color: #a960ab;
      }
    }
  }
}

.additional {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptive-value("gap", 40, 16, 480);
    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $breakpoint480) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background: #ffffff;
    display: flex;
    align-items: center;
    aspect-ratio: 2.1 / 1;
    @media (max-width: $breakpoint480) {
      background: transparent;
      aspect-ratio: auto;
    }
  }

  &__img {
    background: linear-gradient(130.67deg, #1e74ec 6.5%, #002984 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    flex-shrink: 0;
    @media (max-width: $breakpoint480) {
      width: 18px;
      height: 18px;
      position: relative;
      &:after {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: url("../img/icons/tick.svg");
        width: 10px;
        height: 9px;
      }
      img {
        display: none;
      }
    }
  }

  &__text {
    @include adaptive-value("font-size", 26, 14, 320);
    @include adaptive-value("padding-left", 40, 20, 480);
    padding-right: 15px;
    color: #35417f;
    // @include adaptive-value("padding-right", 40, 20, 768);
    color: #35417f;
    @media (max-width: $breakpoint480) {
      padding-left: 8px;
      padding-right: 0;
    }
  }
}
