// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$primary: #E0E1E3;
$secondary: #040A2D;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #E0E1E3;
$burgerActiveColor: $primary;

// Fonts
$fontMain: "Gotham", sans-serif;
$fontSecondary: 'Inter', sans-serif;
